41_Algebra_Algeric_Gemometric/.ipynb_checkpoints/linalg_vectors-checkpoint.ipynb
41_Algebra_Algeric_Gemometric/linalg_vectors.ipynb
41_Algebra_Algeric_Gemometric/linalg_matrices.ipynb
43_Statics_Data_On_Computer/.ipynb_checkpoints/stats_visualizing_barplots-checkpoint.ipynb
43_Statics_Data_On_Computer/.ipynb_checkpoints/stats_visualizing_boxWhisker-checkpoint.ipynb
43_Statics_Data_On_Computer/stats_descriptives_QQ.ipynb
